table {
    height: 88vh;
    min-height: 550px;
    border-collapse: collapse;
    padding: 0px;
    width: 100%;

    table-layout: fixed;

    th,
    td {
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        vertical-align: top;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;

        // border: 1px solid rgb(21, 21, 22);
        //.cell-content-div {
        >div {
            padding: 2px;
            position: absolute;
            right: -1px;
            left: 0px;
            bottom: -1px;
            top: -1px;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
        }
    }
}

table th {
    color: rgb(182, 179, 179);
}

.sched-rowline {
    border-top: 1px solid rgb(203, 203, 204);
}

.sched-rownone {}

.sched-crscell {
    border: 1px solid rgb(43, 126, 47);
    background-color: rgb(179, 212, 181);


    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
}

.sched-crscell-conflict {
    border: 1px solid rgb(241, 188, 14);
    background-color: rgb(248, 248, 248);
}

/*.sched-crscell-conflict:hover {
    border: 2px solid rgb(241, 188, 14);
    background-color: rgb(248, 248, 248);
}*/
.sched-crscell-hover {
    // the proper way to set these border colors would be to set the child border colors ...
    background-color: rgb(139, 139, 241);
    //  border: 1px double rgb(250, 236, 44);
    z-index: 2;
}

.sched-emptycell {}

.sched-timecol {
    width: 38px;
    max-width: 38px;
    min-width: 38px;
}

.sched-weekcol {}

.sched-lbd-cell {
    border-left: 1px solid rgb(203, 203, 204);
}

.sched-rbd-cell {
    border-right: 1px solid rgb(203, 203, 204);
}
