.idea/
dist/
node_modules/
src/**/*.jsx
tests/__coverage__/
tests/**/*.jsx
vsc.code-workspace
data/utm_2
data/utm_3
data/__pycache__/course.cpython-37.pyc
.gitignore
data/utm_1
data/utm_4
data/__pycache__/schedule.cpython-37.pyc

sandbox.html
data/*.json
data/old_data
inspirations
*.pyc
backup_old_algo/index.html
tt-html.code-workspace
